@font-face {
  font-family: "Inside Out";
  src: url(fonts/InsideOutLowercase-BA0G.ttf);
}
* {
  list-style: none;
  font-family: "Inside Out";
}

#permisse {
  font-family: "Inside Out";
  font-size: xx-large;
}

#froggy {
  font-size: larger;
  text-shadow: 2px 2px #4e3a3a;
  color: rgb(85, 199, 96);
}

.console {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50vh;
  border: 10px solid grey;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  height: 25vh;
  width: 60vw;
  justify-content: space-evenly;
  font-size: larger;
  margin-bottom: 1vh;
}

.options div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options img {
  height: 15vh;
}

.options img:hover {
  height: 20vh;
}

.score {
  font-weight: 600;
  font-size: x-large;
}

.score p {
  padding: 0.5em;
  border: 0.2em dotted aliceblue;
}

#round {
  background-color: rgb(46, 135, 46);
  color: aliceblue;
  height: 100%;
  border: 5px solid black;
  width: 20vw;
  font-size: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.habitat {
  margin: 4vh;
  display: flex;
  justify-content: space-between;
}
.habitat #frog img {
  height: 30vh;
}

.habitat #pond img {
  height: 30vh;
}

.step {
  margin-top: 15vh;
  height: 10vh;
  width: 10vh;
  background-color: green;
  box-shadow: 4px 5px #847b7b;
  border-radius: 10vh;
}

.step-used {
  margin-top: 15vh;
  height: 10vh;
  width: 10vh;
  background-color: #847b7b;
  box-shadow: 4px 5px #847b7b;
  border-radius: 10vh;
}

.endMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
}

.endMessage h3 {
  font-size: 3em;
}

.continuePlayingBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}

.continuePlayingBtn a {
  background-color: green;
  padding: 0.5em;
  font-size: x-large;
  border-radius: 1em;
  color: aliceblue;
  text-decoration: none;
}

.continuePlayingBtn a:hover {
  background-color: rgb(2, 54, 2);
}
